.contacts-list {
  text-align: center;
  h1 {
    margin-bottom: 24px;
  }
}

.contacts {
  max-width: 40em;
  max-height: 25em;
  background-color: #ddd;
  margin: 0 auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.contacts img {
  width: 100px;
  height: 100px;
  background: salmon;
  border-radius: 50%;
  margin-right: 5%;
}
